doctype html
html
  head
    title="User Profile"
    link(rel="stylesheet" href="done.css")
    style.
      .row {
        display: flex;
      }
      .column {
        width : 100%;
        background-color: lightgrey;
      }
  body
    h1= "Your Profile"
    .row
      div
        title Last Month Button 
        a.btn(href='#') Last Month
        title Last 6 Months Button
        a.btn(href='#') Last 6 Months
        title All Time Button
        a.btn(href='#') All Time

        h1 Top Artists, Genres, and Songs
        .column
          h2 Artists
          ul
            each artist in artists
              li= artist

        .column
          h2 Genres
          ul
            each genre in genres
              li= genre
        
        .column
          h2 Songs
          ul
            each song in songs
              li= song

