doctype html
html
  head
    head
    title=name + "'s Profile"
    link(rel="stylesheet" href="done.css")
  body
    h1.title=name + "'s Profile"
    .row
      .column.button-column
        h2 Time Frame
        .btn-container
          a.btn(id='last_month' onclick='myFunction()') Last Month
          a.btn(id='last_six') Last 6 Months
          a.btn(id='all_time') All Time
        h2 Artist Recommendations
        ul
          each artist in recArtists
            li= artist
      .column.artists
        h2 Artists
        ul
          each artist in artists
            li= artist
        
      .column.songs
        h2 Songs
        ul
          each song in songs
            li= song
      .column.right
        h2 Scores
        div.score
          p Global Basic Score
          p= score
        h2 Genres
        div#pie_chart_label
          p Genre Breakdown
        div#pie_chart_container
          ul#genres
            each genre in genres
              li= genre
          ul#genreFreq 
            each freq in genreFreq
              li= freq
    pre
      | <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
      | <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

      | <script src="buttons.js" defer></script>
      | <script src="server.js" defer></script>
      | <script src="PieChart.js" defer></script>



